# autoscan
autoscan.log
# autoreconf --install
autom4te.cache/
configure
# configure
config.log
config.status
# autoreconf --install with automake
aclocal.m4
compile
install-sh
missing
COPYING
INSTALL
Makefile.in
# configure
Makefile
